body {
    background: linear-gradient(to left top, #dee8ef85, white) fixed;
}

.container {
    display: table
}

.project-element {
    display: table-row;
}

.project-name {
    display: table-cell;
    text-align: center;
}

.project-name:hover {
    cursor: pointer;
}

.task-number {
    display: table-cell;
    padding: 3%;
    margin: auto;
}

.task-number-input {
    margin-right: 10px;
}

.task-number-input:valid {
    background-color: white;
}

.task-number-input:invalid {
    background: linear-gradient(to right top, rgba(236, 130, 130, 0.427), white);
}
